<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/vue.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/axios.min.js}"></script>
    <style type="text/css">
        td{
            border:1px solid gray;
        }
        table{
            border-collapse:collapse;
        }
        div#app{
            margin:20px auto;
            width:400px;
            padding:20px;
        }
        div#pagination{
            text-align: center;
            line-height: 100px;
        }
        div#pagination a{
            text-decoration:none;
        }
        .disableHref{
            cursor:default;
            color:#E5E0E0;
            text-decoration:none;
        }
    </style>
    <script>
        $(function(){
            $("a.disableHref").click(function(event){
                return false;
// 	    		  event.preventDefault();
            });
        });
    </script>
</head>
<body>
<div id="app">
    <table id="heroListTable" >
        <!--分页-->
        <tr>
            <td colspan="3">
                <div id="pagination" >
                    <a :class="{ disableHref: pagination.pageNum==1 }" href="#nowhere" @click="jump('first')">[first]</a>
                    <a :class="{ disableHref: !pagination.hasPreviousPage }" href="#nowhere" @click="jump('pre')">[pre]</a>

                    <a href="#nowhere" :class="{disableHref:pagination.pageNum==i}"  v-for="i in pagination.navigatepageNums" @click="jumpByNumber(i)" >
                        {{i}}
                    </a>

                    <a :class="{ disableHref: !pagination.hasNextPage }" href="#nowhere" @click="jump('next')">[next]</a>
                    <a :class="{ disableHref: pagination.pageNum==pagination.pages }" href="#nowhere" @click="jump('last')">[last]</a>
                </div>

            </td>
        </tr>

        <!--表-->
        <tr>
            <td>英雄名称</td>
            <td>血量</td>
            <td>操作</td>
        </tr>

        <tr v-for="hero in heros ">
            <td>{{hero.name}}</td>
            <td>{{hero.hp}}</td>
            <td>
                <a :href="'editHero?id=' + hero.id ">编辑</a>
                <a href="#nowhere" @click="deleteHero(hero.id)">删除</a>
            </td>
        </tr>

        <!--增加-->
        <tr>
            <td colspan="3">
                <br>
                英雄名称:
                <input type="text"    v-model="hero4Add.name" />
                <br>
                血量：
                <input type="number"    v-model="hero4Add.hp" />
                <br>
                <br>
                <button type="button"  @click="add">增加</button>
                <br>
            </td>
        </tr>
    </table>
</div>

<script type="text/javascript">
    var data4Vue = {
        heros: [],
        hero4Add: { id: 0, name: '', hp: '0'},
        pagination:{}
    };

    //ViewModel
    var vue = new Vue({
        el: '#app',
        data: data4Vue,
        mounted:function(){ //mounted　表示这个 Vue 对象加载成功了
            this.list(1);
        },
        methods: {
            list:function(start){
                var url = "heroes?start="+start;
                axios.get(url).then(function(response) {
                    vue.pagination = response.data;   //返回的data对象放入pagination
                    console.log(vue.pagination);     //在控制台打印返回的data对象
                    vue.heros = response.data.list; //返回的data对象中的list对象放入到heros
                })
            },
            add: function (event) {
                var url = "heroes";

                axios.post(url,this.hero4Add).then(function(response){
                    vue.list(1);
                    vue.hero4Add = { id: 0, name: '', hp: '0'}
                });
            },
            deleteHero: function (id) {
                var url = "heroes/"+id;
                axios.delete(url).then(function(response){
                    vue.list(1);
                });
            },
            jump: function(page){
                if('first'== page && 1!=vue.pagination.pageNum)    //page=first，并且页码不能=1
                    vue.list(1);

                else if('pre'== page &&	vue.pagination.hasPreviousPage )   //page=pre，并且是否上一页为true
                    vue.list(vue.pagination.prePage);

                else if('next'== page && vue.pagination.hasNextPage)    //page=next，并且是否下一页为true
                    vue.list(vue.pagination.nextPage);

                else if('last'== page && vue.pagination.pageNum!=vue.pagination.pages)   //page=last，并且页码不等于最后一页
                    vue.list(vue.pagination.pages);

            },
            jumpByNumber: function(start){
                if(start!=vue.pagination.pageNum)   //当前页不等于start时
                    vue.list(start);
            }
        }
    });
</script>


</body>
</html>